
* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    padding: 50px;
    background-color: #f4f4f4;
}

.product-container {
    width: 100%;
    background-color: #fff;
    font-size: 0; 
}

.product-card {

    display: inline-block;
    width: 33.33%; 

    border: 1px solid #ddd;
    padding: 30px;
    height:200px;
    font-size: 16px;
    vertical-align: top;
    text-align: center;
}


.product-card h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.product-card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.product-card .price {
    color: #e74c3c;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-card button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}